.button {
  background-color: transparent;
  height: 28px;
  width: 28px;
  border: none;
  padding: 0;
  margin-top: 6px;
  .cartIcon {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
